#contact{
  margin-top: 100px;
  display: flex;
  margin-bottom: 200px;
}
#contact-leftPane{
  width: 40%;
  margin: auto;
}
#contact-rightPane{
  width: 40%;
  margin: auto;
  margin-top: 30px;
}
#contact-img{
  width: 20%;
  max-width: 200px;
  margin-right: 100px;
}