header{
  margin-top: 1.25rem;
  a{
    font-size: 1.125rem;
  }
  #companyLogo{
    font-size: 1.75rem;
    font-weight: bold;
    float: left;
    margin: 0 5vw 0 5vw;
    text-decoration: none;
    color: #003CA8;
    :hover{
      color: inherit;
    }
  }
}
@media (max-width: 961px){
  #navMenu{
    display: none;
  }
  header{
    display: flex;
    justify-content: center;
  }
}