#products{
  margin-top: 100px;
  display: flex;
}
.ant-carousel{
  width: 80vw;
  margin: auto;
}
#products{
  .leftArrow, .rightArrow{
    width: 15vw;
    font-size: 40px;
  }
}
.displayItem{
  display: flex;
  justify-content: space-around;
}
.displayImg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.displayDesc{
  width: 40%;
}
.leftArrow, .rightArrow{
  margin: auto;
  font-size: 20px;
}
